@import "colors.less";
@book-inner-shadow: @white, @white 80%, @book-grey;
@bookWidth : 57rem;
.flip-book {
	width: @bookWidth ;
	height:@bookWidth * 0.76;
	display: block;
	position: relative;
}
.action-page {
	content:'';
	position: absolute;
	width: 50%;
	background: transparent;
	height: 100%;
	z-index: 1000;
}
.action-page.prev {
	left: 0;
}
.action-page.next {
	right:0;
}
.bb-item, .bb-content{
	background-color:@main-color;
}

.post-container {
	position: relative;
	height: 100%;
	width: 100%;
	background: url('../images/page.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius:4%;
	overflow: hidden;
	padding:1rem;
}

.facebook-post-title {
	height: 95%;
	word-break: break-word;
	-webkit-column-count: 2;
	-webkit-column-gap: 45px;
	column-fill: auto;
}
// .facebook-post-date{
// 	position: absolute;
// 	bottom: 0;
// }
